---
const { style } = Astro.props;
---

<header style={style}>
  <nav class="left">
    <a href="#"> <img src="/svg/logo2.svg" class="logo" alt="Logo de Tomas Vilalta" /></a>
  </nav>

  <nav class="mid">
    <a href="/"> <span class="material-symbols-rounded"> home</span></a>
    <a href="#sobre-mi">About me</a>
    <a href="#experiencia">Experience</a>
    <a href="#proyectos">Projects</a>
  </nav>

  <nav class="right">
    <a href="#contacto"> Contact me</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  header nav {
    display: flex;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  .left {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
  }

  .left img {
    height: 40px;
  }

  .mid {
    padding: 4px 16px;
    line-height: 1px;
    max-height: 36px;
    position: relative;
  }

  .mid::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #ff993a 0%, #e3ff68 100%);
    transition: transform 0.3s ease-in-out;
  }

  .mid a {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    width: fit-content;
    border-radius: 2em;
    height: 100%;
    font-size: 1.25rem;
    font-weight: 300;
  }

  .mid a span {
    font-size: 1.6rem;
  }

  .right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    flex-basis: 0;
    font-size: 1.1rem;
  }

  .right a {
    padding: 10px 22px;
    width: fit-content;
    color: #101010;
    background: linear-gradient(90deg, #ff993a 0%, #e3ff68 100%);
    border-radius: 100px;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
  }

  .right a:hover {
    background: #1b1b1b;
    color: #ffb672;
  }
</style>
