---
import Background from "./Background.astro";
import HeroButton from "../HeroButton.astro";
import SocialIcon from "../icons/SocialIcon.astro";
import FileDownload from "../icons/FileDownload.astro";
import DownArrow from "../icons/DownArrow.astro";
import Home from "../icons/Home.astro";
---

<section>
  <h1>Crafting <strong>Memorable</strong> Digital Experiences</h1>
  <p>
    Hey there! I'm <strong>Tomas</strong>, Systems Engineering Student and Frontend developer. Let's craft some truly
    incredible digital experiences together!
  </p>

  <span class="buttons">
    <HeroButton href="#experience" text="See my work" />
    <SocialIcon href="" icon="Resume" />
    <SocialIcon href="" icon="GitHub" />
    <SocialIcon href="" icon="LinkedIn" />
  </span>

  <DownArrow class="down-arrow" />
</section>

<style>
  .down-arrow {
    fill: white;
    width: 40px;
    height: 40px;
    align-self: center;
    margin-top: 140px;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 220px;
  }

  h1 {
    animation: slideInLeft 0.3s ease-in-out;
    animation-delay: 0.05s;
    font-size: 50px;
    width: fit-content;
    max-width: 14ch;
    text-wrap: balance;
    font-family: "Nexa", system-ui, sans-serif;
    line-height: 130%;
    pointer-events: initial;
    margin-bottom: 32px;
  }

  h1 strong {
    background: linear-gradient(90deg, #ff993a 0%, #93ee1f 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    animation: slideInLeft 0.3s ease-in-out;
    animation-delay: 0.1s;
    font-size: 1.8rem;
    width: fit-content;
    text-wrap: pretty;
    max-width: 50ch;
    pointer-events: initial;
    margin-bottom: 32px;
    letter-spacing: 0.05rem;
    font-weight: 200;
  }

  p strong {
    font-weight: 400;
  }

  .buttons {
    animation: slideInLeft 0.3s ease-in-out;
    animation-delay: 0.15s;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .buttons {
  }

  @media (max-width: 768px) {
    section {
      margin-top: 120px;
    }

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 1.5rem;
    }
  }
</style>
