---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/sections/Header.astro";
import Hero from "../components/sections/Hero.astro";
import Background from "../components/sections/Background.astro";
import Experience from "../components/sections/Experience.astro";
---

<Layout
  title="Tomás Vilalta | Estudiante de Ingenieria en Sistemas y desarrollador"
  description="Tomás Vilalta es un desarrollador front-end y estudiante avanzado de Ingeniería en Sistemas  "
>
  <div class="background">
    <Background />
  </div>
  <div class="content">
    <Header style="z-index:2; pointer-events: auto" />
    <Hero />
  </div>
</Layout>

<style>
  .background {
    position: absolute;
    z-index: 1;
    right: -150px;
    top: -80px;
  }
  .content {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  .content * {
    pointer-events: auto;
  }
</style>
