---
const { style } = Astro.props;
---

<header style={style}>
  <nav class="left">
    <a href="#"> <img src="/public/svg/logo.svg" class="logo" alt="Logo de Tomas Vilalta" /></a>
  </nav>

  <nav class="mid">
    <a href="/"> <span class="material-symbols-rounded"> home</span></a>
    <a href="#sobre-mi">About me</a>
    <a href="#experiencia">Experience</a>
    <a href="#proyectos">Projects</a>
  </nav>

  <nav class="right">
    <a href="#contacto"> Contáctame</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  header nav {
    display: flex;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  .left {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
  }

  .left img {
    width: 44px;
    height: 44px;
  }

  .mid {
    padding: 4px 16px;
    background-color: #1c1c1c;
    border-radius: 2em;
    border: 1px solid #ffedb7;
    line-height: 1px;
    max-height: 36px;
  }

  .mid a {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    width: fit-content;
    border-radius: 2em;
    height: 100%;
    font-size: 1.25rem;
  }

  .mid a span {
    font-size: 1.6rem;
  }

  .right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    flex-basis: 0;
  }

  .right a {
    padding: 10px 22px;
    width: fit-content;
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg, #ffb672 0%, #e3ff68 100%);
    border-radius: 100px;
    font-weight: 600;
  }
</style>
