---
import Background from "./Background.astro";
---

<section>
  <h1>Tomas Vilalta</h1>
</section>

<style>
  section {
    background-color: #f1f1f100;
    padding: 20px;
    text-align: center;
  }
  h1 {
    color: #000;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
  }
</style>
